{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="centre_div">
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2> Session Form </h2>
            <form method="post" action="{% url 'add_sessions' %}" enctype="multipart/form-data" >
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit"class="btn-surf" >Save</button>
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock %}

