{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Volunteer Dashboard</h1>
   
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid py-2">
        <h2 class="font-weight-light">All Volunteers:</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto text-white">
            {% for volunteer in volunteer_list %}
        
                        <div class="card card-body" >
                            <img src=" {{ volunteer.photo.url }} " class="dashboard-profile-img" alt="profileimage">
                            <br>
                            <hr>
                            <h5 class="card-title">{{ volunteer.name }}</h5>
                            <p class="card-text">{{ volunteer.email }}</p>
                            <p class="card-text">{{ volunteer.bio }}</p>
                        </div>

            {% endfor %}  
        </div>
        <a href="{% url 'profile' %}" class="btn btn-primary btn-surf my-5">Edit Your Profile</a>
    </div>
    <hr>
    <div class="container-fluid py-2">
        <h2 class="font-weight-light">All Sessions:</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for session in session_list %}
                {% if session.upcoming_date %}
                    <div class="card card-body text-center text-white pt-5" >
                        <i class="far fa-calendar-alt py-2 calender-icon"></i>
                        <h3 class="card-title">{{ session.date|date:"d M Y" }}</h5>
                        <p class="card-text">{{ session.time }}</p>
                        {% if user.is_superuser %}
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'edit_session' session.pk %}" class="btn btn-primary btn-surf btn-edit">Edit</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{% url 'delete_session' session.pk %}"><button class="btn btn-danger btn-delete">Delete</button>
                                  </a>
                            </div>
                        </div>
                          {% endif %} 
                        <br>
                        <hr>

                        <br>
                        <i class="fas fa-user fa-lg mb-2"></i> 
                        <p class="card-text">Volunteers booked:</p>
                        <ol class="session_volunteer_list">
                            {% for name in session.volunteers.all %}
                            <li>{{ name }}</li>
                            {% endfor %}
                        </ol>
                        {% if session.number_of_volunteers >= 8 %}
                            <p class="full-session">Full session</p>
                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}  
            
        </div>
    </div>
    {% if user.is_superuser %}
    
    <hr>
    <h2>Admin:</h2>
    <a href="{% url 'add_sessions' %}" class="btn btn-primary btn-surf">Add Session</a>
{% endif %}
    {% else %}
    <h2 class="dashboard-signedout">Please sign in or register to view the volunteer dashboard</h2>
    {% endif %}


{% endblock %}