{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Volunteer Dashboard</h1>
   
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid py-2">
        <h2 class="font-weight-light">All Volunteers:</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for volunteer in volunteer_list %}
        
                        <div class="card card-body" >
                            <img class="card-img-top" src="..." alt="Card image cap">
                     
                            <h5 class="card-title">{{ user_form.username  }}</h5>
                            <p class="card-text">{{ volunteer.email }}</p>
                            <p class="card-text">{{ volunteer.bio }}</p>
            
                        </div>

            {% endfor %}  
        </div>
        <a href="{% url 'profile' %}" class="btn btn-primary btn-surf my-5">Edit Your Profile</a>
    </div>
    <hr>
    <div class="container-fluid py-2">
        <h2 class="font-weight-light">All Sessions:</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for session in session_list %}
        
                        <div class="card card-body" >
                            <h5 class="card-title">{{ session.date }}</h5>
                            <p class="card-text">{{ session.time }}</p>
                        </div>

            {% endfor %}  
        </div>
    </div>
    {% if user.is_superuser %}
    
    <hr>
    <h2>Admin:</h2>
    <a href="{% url 'add_sessions' %}" class="btn btn-primary btn-surf">Add Session</a>
{% endif %}
    {% else %}
    <h2 class="dashboard-signedout">Please sign in or register to view the volunteer dashboard</h2>
    {% endif %}


{% endblock %}