{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card card-body text-white" >
          <h2 class="my-3 ">Your Profile:</h2>
        <hr>
            <img src=" {{ user.profile.photo.url }}" class="dashboard-profile-img">
            <br>
            <hr>
            <h5 class="card-title">{{ user.profile.name}}</h5>
            <p class="card-text">Username: {{user.username}}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Bio: {{ user.profile.bio }}</p>
        </div>
      </div>
        <div class="col-sm">
      <div class="card card-body text-white">
        <h2 class="my-3 ">Edit Profile:</h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
                {{ user_form|crispy }}
                  <hr>
                {{ profile_form|crispy }}
                {% csrf_token %}
        <button type="submit" class="btn btn-surf my-2">Save Changes</button>
    </form> 
      </div>
    </div>
  </div>
  </div>
{% endblock %}