{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card card-body" >
            <img src=" {{ user.profile.photo.url }}" class="dashboard-profile-img">
            <br>
            <hr>
            <h5 class="card-title">{{ user.profile.name}}</h5>
            <p class="card-text">Username: {{user.username}}</p>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Bio: {{ user.profile.bio }}</p>
        </div>
      </div>
      <div class="col-sm centre_div">

        <h2>Edit Profile:</h2>

        <form method="post" enctype="multipart/form-data" class="form-row">
        {% csrf_token %}

                {{ user_form|crispy }}
                
                {{ profile_form|crispy }}
        <br><br>
        <button type="submit" class="btn btn-surf ">Save Changes</button>
    </form> 
      </div>

    </div>
  </div>
{% endblock %}