body, html {
    height: 100%;
    background-color: #165764
    
  }

  h1 {
    font-family:'Raleway', sans-serif;
    font-weight: 150;
    color: #FFF;
  }

 .project-header-logo {
  float: left;
 }

 .project-header-links{
  float: right;
  margin-left: 800px;
 }

 .delete_header {
  float: left;
 }

 .return_button {
  float: right;
  margin-bottom: 20px;
  margin-top:10px;
  padding: 2px;
 }

 .delete_form{
 clear:both;
 }

  .nav-custom {
    background-color: #165764 !important;
  }

  .nav-custom h1 {
    font-family:'Raleway', sans-serif;
    font-weight: 150;
    color: #FFF;
  }

  .nav-custom ul {
    list-style-type:none;
  }

  .nav-custom li, .nav-custom a{
    color: #FFF !important;
    font-family: 'Antic', sans-serif;
  }



  /* Home CSS */

.home-css h1 {
    text-align: center;
}

.home-css ul {
    list-style-type:none;
    text-align: left;
    color: #FFF !important;
}

a {
  text-decoration: none !important;
  color: #FFF !important;
}

form a {
  color: #495057 !important;
}
.home-css h2 {
  font-size: 20px;
  color: #FFF !important;
  padding-top: 20px;
  padding-left: 20px;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}


.hero-image{
    height: 600px;
      width: 100%;

/* animation of hero image when the page is loading */
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/858/original/pexels-elle-hughes-1549196_1.png?1654971399') no-repeat center center;
}

/* Hero image zoom */

@keyframes hero-zoom {

  from {
      transform: scale(1);
  }

  to {
      transform: scale(1.1);
  }
}

.cover-text {
  width: 300px;
  height: 200px;
  bottom: 200px;
  right: 200px;
  position: absolute !important;
  background-color: #165764;
}



/* Volunteer dashbaord */

.card-body {
  min-height: 200px;
  min-width: 300px;
  margin-right: 5px;
  background-color: rgb(172, 220, 221);
}

h2 {
  font-family:'Raleway', sans-serif;
    font-weight: 100;
    color: black;

}

.dashboard-signedout {
  text-align: center;
}

.btn-surf {
  background-color: #B5FFE1 !important;
  border: none;
  color: black !important;
}
.btn-edit, .btn-delete {
  width: 90%;
  margin: auto;
}

.btn-surf:hover {
  background-color: grey !important;
  border: none;
}

.calender-icon {
  font-size: 40px;
}

img {
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.dashboard-profile-img{
  width: 200px;
  height: 200px;
}

.header-profile-img{
  width: 50px;
  height: 50px;
}

.session_volunteer_list li {
  text-align: left;
}

.full-session {
  color: red;
  text-transform: uppercase;
}


/* User form */

.centre_div {
  margin: auto;
  width: 30%;
  background-color: rgb(172, 220, 221);
  padding: 5px 10px;
}



@media (max-width: 900px) {
  h1 {
    font-size: 30px !important;
    text-align: center;
    padding: 10px 10px !important;
  }
  h3 {
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
  }

  h2 {
    font-size: 15px;
    text-align: center;
    padding: 5px 5px;
  }
}
